# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/50x.html
/report.html
/index.html
/me.html
/.brackets.json
